$logoredcolor:		#f07950;
$logobluecolor:		#464389;
$logogreencolor:	#33a692;
$darkgrey:          #cccccc;

@font-face {
    font-family: baloSemiBold;
    src: url(../fonts/BalooBhai2-SemiBold.ttf);
}
@font-face {
    font-family: baloRegular;
    src: url(../fonts/BalooBhai2-Regular.ttf);
}
@font-face {
    font-family: baloMedium;
    src: url(../fonts/BalooBhai2-Medium.ttf);
}
@font-face {
    font-family: baloBold;
    src: url(../fonts/BalooBhai2-Bold.ttf);
}
@font-face {
    font-family: baloExtraBold;
    src: url(../fonts/BalooBhai2-ExtraBold.ttf);
}
html, body {
    height: 100%;
    width: 100%;
    font-family: baloRegular;
    background-color: $darkgrey;
}

body {
    padding: 40px;
}

//Pages content
.page--loader {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.page--main, .page--members, .page--pyetsoret, .page--stafi, .page--toProfile {
    display: none;
    width: 100%;
    height: 100%;
    align-items: center;
}

.page--allDialogs {
    z-index: 99999;
    padding: 40px;
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.9);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
}

.page--allDialogs--inner {
    background-color: white;
    border-radius: 30px;
    padding: 20px 20px;
}
//Pages content

.mainCube {
    text-align: center;
    opacity: 0.7;
    transition: 0.3s;
}
.innerCube {
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 50%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px;
    transition: 0.2s;
}
.innerCube, .innerTitle {
    cursor: pointer;
}
.mainCube:hover {
    opacity: 1;
    transition: 0.3s;
}
.innerCube i {
    font-size: 35px;
}
.innerCube:hover {
    border: 10px solid $logogreencolor;
    transition: 0.2s;
    color: $logogreencolor;
}
.innerTitle {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}
#logoText {
    display: none;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: clip;
    font-size: 24px;
    margin-left: 14px;
    color: $logobluecolor;
}
.backBtn {
    padding-bottom: 2px;
}
.downLine {
    padding-bottom: 5px;
    border-bottom: 2px solid black;
}
#pyetsoriTable {
    border-radius: 10px;
    overflow: hidden;
    border-collapse: collapse;
    width: 100%;
    font-size: 12px;
    background-color: #dedede;
}
#pyetsoriTable td, #pyetsoriTable th {
    padding: 8px;
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#pyetsoriTable tr:nth-child(even){background-color: #f2f2f2;}
#pyetsoriTable tr:hover {background-color: #ddd;}
#pyetsoriTable th {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
.searchInp {
    padding: 4px 10px 2px 10px;
    border: 0;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    outline: none;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.btn-extra-small {
    font-size: 12px;
    padding: 3px 6px 1px 6px;
}

.infoPezull {
    background-color: #ffae42;
    color: white;
    padding: 2px 4px 0px 4px;
    border-radius: 4px;
    box-shadow: 1px 1px 2px #888888;
}
.infoFshire {
    background-color: #d63447;
    color: white;
    padding: 2px 4px 0px 4px;
    border-radius: 4px;
    box-shadow: 1px 1px 2px #888888;
}
.infoAprovuar {
    background-color: #4caf50;
    color: white;
    padding: 2px 4px 0px 4px;
    border-radius: 4px;
    box-shadow: 1px 1px 2px #888888;
}

.closeDialogBtn {
    color: #dadada;
    font-size: 35px;
    padding: 8px 18px 0px 18px;
    border-radius: 50%;
    border: 0;
    background-color: rgba(255, 255, 255, 0.4);
    outline: none;
}
.closeDialogBtn:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.6);
    outline: none;
}
.closeDialogBtn:focus {
    outline: none;
    color: white;
    background-color: rgba(255, 255, 255, 0.6);
    outline: none;
}
.closeDialogBtn:active {
    outline: none;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}